/* File ProgressBar.module.css   */

.progress-fondo, .progress-leyend{
    display: flex;
    align-content: right;
    color: blueviolet;
    width: 50%;
    position: absolute;
    justify-content: center;
    top: 0.15rem;
}

.hidden {
    visibility: hidden;
}

.progress-porc{
    position: absolute;
    justify-content: center;
    top: 0.15rem;

    background-color: yellow;
    border-radius: 5px;
    height: 1.3rem;
    left: 17.8rem;
    top: 0.30rem;
}
.progress-porc:hover{
    left: 17.5rem;
    top: 0.40rem;
    height: 1rem;
}

#id-cmpt-ppal {
    /* display: flex;
    text-align: center; */
}
